<h2>Add Engineer</h2>
<form (ngSubmit)="submit()">
    <!-- <label>
        Name
        <input type="text" [(ngModel)]="model.engineerName" name="engineerName" required />
    </label>
    <br /><br />
    <label>
        Role
        <input type="text" [(ngModel)]="model.engineerRole" name="engineerRole" required />
    </label>

    <br /><br />
    <button type="submit" [disabled]="submitting()">
        Update
    </button> -->
    <div class="dx-fieldset">
        <div class="dx-fieldset-header">Update Engineer Details</div>
        <div class="dx-field">
            <div class="dx-field-label">Engineer Name</div>
            <dx-text-box class="dx-field-value" [value]="model.engineerName"
                [inputAttr]="{ 'aria-label': 'Engineer Name' }" [showClearButton]="true">
            </dx-text-box>
        </div>

        <div class="dx-field">
            <div class="dx-field-label">Engineer Role</div>
            <dx-text-box class="dx-field-value" [value]="model.engineerRole"
                [inputAttr]="{ 'aria-label': 'Engineer Role' }" [showClearButton]="true">
            </dx-text-box>
        </div>
    </div>
    <div class="buttons">
        <div>
            <dx-button stylingMode="contained" text="Back" type="normal" [width]="120" (onClick)="back()">
            </dx-button>
        </div>
        <div>
            <dx-button stylingMode="contained" text="Update" type="success" [width]="120" (onClick)="submit()">
            </dx-button>
        </div>
    </div>
</form>